@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  box-sizing: border-box;
  font-family: "metropolis", sans-serif;
}

/* Scrollbar Hide */
::-webkit-scrollbar {
  display: none;
}

button {
  outline: none;
}


/* Hide spinner in WebKit browsers (Chrome, Edge, Safari) */
.number-input-mouse-control-none::-webkit-inner-spin-button,
.number-input-mouse-control-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner in Firefox */
.number-input-mouse-control-none[type="number"] {
  appearance: textfield;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 2s ease-in-out infinite;
}

@keyframes dropdownSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px) scaleY(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@layer utilities {
  .animate-dropdown {
    animation: dropdownSlide 0.25s ease-out forwards;
    transform-origin: top;
  }
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
