@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "metropolis", sans-serif;
}

/* Scrollbar Hide */
::-webkit-scrollbar {
  display: none;
}

button {
  outline: none;
}
