@import url("./fonts.style.css");
/* Variable name format dark-light */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common variables */
:root {
}

[theme="dark"] {
  /* Colors */
  --primary: #ffffff;
  --primary-inverted: #000000;
}

/* Light Theme Variables */
[theme="light"] {
  /* Colors */
  --primary: #000000;
  --primary-inverted: #ffffff;
}
