@import url("quill/dist/quill.snow.css");

#custom-editor {
  /* Toolbar */
  & > .ql-toolbar.ql-snow {
    font-family: "Metropolis", sans-serif !important;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 20px 12px 12px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6vw;
    flex-wrap: wrap;
    /* background-color: #f0f0f0;  */
  }

  /* Editor Container */
  & > .ql-container {
    border: none;
    width: 100%;
    height: fit-content;
    position: relative;
    /* background-color: #f4f4f4; */
  }

  /* Editor Text Area */
  & .ql-editor {
    height: 300px;
    max-height: 300px;
    margin-bottom: 12px;
    font-size: 14px;
  }

  /* Link color */
  & .ql-editor a {
    color: #2563eb !important; /* blue-600 */
    text-decoration: none !important;
    cursor: pointer !important;
  }

  /* Toolbar button group */
  & .ql-formats {
    border: 1px solid #bbb;
    padding: 2px;
    border-radius: 4px;
    transition: all 0.2s ease;
  }

  & .ql-formats:hover {
    border: 1px solid #888;
    background-color: #e8e8e8;
  }

  /* Picker dropdowns */
  & .ql-picker {
    position: relative;
    color: #444;
  }

  & #ql-picker-options-0 {
    position: absolute;
    top: 28px;
    left: -3px;
  }

  /* Icon color (inactive) */
  & .ql-stroke {
    stroke: #444 !important;
  }
  & .ql-fill {
    fill: #444 !important;
  }

  /* Active button state */
  & .ql-active .ql-stroke {
    stroke: #2563eb !important;
  }
  & .ql-active .ql-fill {
    fill: #2563eb !important;
  }

  /* Placeholder text */
  & .ql-editor.ql-blank::before {
    font-size: 14px;
    color: #888;
    font-family: "Metropolis", sans-serif !important;
    font-style: italic;
  }
}

/* Dropdown menu styling */
.ql-toolbar.ql-snow .ql-picker-options {
  border: 1px solid #bbb !important;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #333 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Link tooltip */
.ql-tooltip {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: #f9f9f9 !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
  color: #333 !important;
}

.ql-tooltip input[type="text"] {
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc !important;
  background-color: #fff !important;
  color: #2563eb !important;
}

.ql-tooltip .ql-action,
.ql-tooltip .ql-remove {
  border-radius: 4px;
  min-width: 60px;
  background-color: #2563eb !important;
  color: #fff !important;
  padding: 4px 8px;
  text-align: center;
}

.ql-tooltip .ql-remove {
  min-width: 67px !important;
  background-color: #ef4444 !important;
}
